{:blocks (
{:block/content "Scripting basics"
:block/format :markdown
:block/left 
{:block/uuid #uuid "681ceac1-d3a2-411e-9dc3-086899bd6a2a"}
:block/parent 
{:block/uuid #uuid "681ceac1-d3a2-411e-9dc3-086899bd6a2a"}
:block/properties 
{}
:block/uuid #uuid "681ceac8-67c9-4f96-acd0-58d919972664"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "681ceac8-67c9-4f96-acd0-58d919972664"}
:block/parent 
{:block/uuid #uuid "681ceac1-d3a2-411e-9dc3-086899bd6a2a"}
:block/uuid #uuid "681ceaec-bffd-4f49-8974-763fe9a1e878"} 
{:block/content "This is a git test\nDelete after usess"
:block/format :markdown
:block/left 
{:block/uuid #uuid "681ceaec-bffd-4f49-8974-763fe9a1e878"}
:block/parent 
{:block/uuid #uuid "681ceac1-d3a2-411e-9dc3-086899bd6a2a"}
:block/properties 
{}
:block/uuid #uuid "681cee54-d379-46c7-8dca-0dd3dbb0edb7"} 
{:block/content "sss"
:block/format :markdown
:block/left 
{:block/uuid #uuid "681cee54-d379-46c7-8dca-0dd3dbb0edb7"}
:block/parent 
{:block/uuid #uuid "681ceac1-d3a2-411e-9dc3-086899bd6a2a"}
:block/properties 
{}
:block/uuid #uuid "681cef20-bfc5-454f-8387-48a39695ce9d"} 
{:block/content "sswdas"
:block/format :markdown
:block/left 
{:block/uuid #uuid "681cef20-bfc5-454f-8387-48a39695ce9d"}
:block/parent 
{:block/uuid #uuid "681ceac1-d3a2-411e-9dc3-086899bd6a2a"}
:block/properties 
{}
:block/uuid #uuid "681cef28-58ee-46d0-8b68-812997b9ab67"})
:pages (
{:block/uuid #uuid "681ceac1-d3a2-411e-9dc3-086899bd6a2a"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "681ceac1-d3a2-411e-9dc3-086899bd6a2a"
:name "roblox"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ()}}
:block/updated-at 1746726709885
:block/created-at 1746725569091
:block/type "whiteboard"
:block/name "roblox"
:block/original-name "roblox"})}